containerRepository:
  imageLocation: "arthurplatform"
  credentialsRequired: false
  imagePullSecretName: ""
resourceNameSuffix: ""
mlEngine:
  deployment:
    ###################################
    ## Minimum Required Configurations for when deployed with Arthur GenAI Engine
    ###################################
    # This should be the same as the genaiEngineIngressURL in the arthur-genai-engine chart
    genaiEngineInternalIngressHost: ""
    fetchRawDataEnabled: true
    genaiEngineMaxPageSize: 1500

    ###################################
    ## Advanced - General
    ###################################
    replicas: 1
    labels: {}
    annotations: {}
    mlEnginePodLabels: {}
    # Name of the service account used by the ML Engine pod (if no service account is specified, the pod will use its default behavior, which usually means that it uses the `default` k8s service account)
    mlEngineServiceAccount:
      create: false
      name: ""
    containerImageName: "ml-engine"
    containerImageVersion: "2.1.699"
    containerMemoryRequests: "16Gi"
    containerCPURequests: "7"
    containerMemoryLimits: "16Gi"
    containerCPULimits: "8"
    appPlaneUrl: "https://platform.arthur.ai"
    mlEnginePodNodeSelector: {}
    mlEnginePodAffinity: {}
    mlEnginePodTolerations: {}

    ###################################
    ## Advanced - Secrets name customization
    ###################################
    # ML Engine client secret name (expecting values for keys 'client_id' and 'client_secret')
    mlEngineClientSecretName: "ml-engine-client-secret"
    # GenAI Engine secret admin key name (expecting value for key 'key')
    genaiEngineInternalAPIKeySecretName: "genai-engine-secret-admin-key"
